<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->

<main>
  <div>
    <img
      class="logo"
      src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t39.30808-6/305259764_2333364556827757_9145958322092213388_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=fDwWastRmiUAX_cUEOZ&_nc_ht=scontent.fsgn5-2.fna&oh=00_AfAS29WL6FYZJqVxktd3qXPbwf2ICMeQsM2bIaTmt98pTw&oe=65EFE52B"
      alt=""
    />
  </div>

  <!-- <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          A healthy meal delivered to your door, every single day
        </h1> -->

  <!-- <a href="#cta" class="btn btn--full margin-right-sm"
          >Start eating well</a
        >

        <a href="#how" class="btn btn--outline">Learn more &darr;</a> -->
  <!-- </div>

      <div>
        <img
          class="logo"
          src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t39.30808-6/305259764_2333364556827757_9145958322092213388_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=fDwWastRmiUAX_cUEOZ&_nc_ht=scontent.fsgn5-2.fna&oh=00_AfAS29WL6FYZJqVxktd3qXPbwf2ICMeQsM2bIaTmt98pTw&oe=65EFE52B"
          alt=""
        />
      </div>
    </div>
  </section>
</main> -->

  <footer class="footer">
    <div class="container grid grid--footer">
      <div class="logo-col">
        <a href="#" class="footer-logo">
          <img
            class="logo"
            alt="Gs-English"
            src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t1.15752-9/430619714_1083607772941752_2188656872850701906_n.png?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=FteLeSI40HgAX8KMUhU&_nc_ht=scontent.fsgn5-8.fna&oh=03_AdTwpi7-vARTkgBMDuCGWcZ9jnSX3BGWytRqpe3KLc_pvw&oe=6611F7D3"
          />
        </a>

        <!-- <ul class="social-links">
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
          ></a>
        </li>
      </ul> -->

        <p class="copyright">
          Copyright &copy; <span class="year">2027</span> by Omnifood, Inc. All
          rights reserved.
        </p>
      </div>

      <div class="address-col">
        <p class="footer-heading">Contact us</p>
        <address class="contacts">
          <p class="address">
            623 Harrison St., 2nd Floor, San Francisco, CA 94107
          </p>
          <p>
            <a class="footer-link" href="tel:415-201-6370">415-201-6370</a
            ><br />
            <a class="footer-link" href="mailto:hello@omnifood.com">---</a>
          </p>
        </address>
      </div>

      <nav class="nav-col">
        <p class="footer-heading">Account</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Create account</a></li>
          <li><a class="footer-link" href="#">Sign in</a></li>
          <li><a class="footer-link" href="#">iOS app</a></li>
          <li><a class="footer-link" href="#">Android app</a></li>
        </ul>
      </nav>

      <nav class="nav-col">
        <p class="footer-heading">Company</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">About Omnifood</a></li>
          <li><a class="footer-link" href="#">For Business</a></li>
          <li><a class="footer-link" href="#">Cooking partners</a></li>
          <li><a class="footer-link" href="#">Careers</a></li>
        </ul>
      </nav>

      <nav class="nav-col">
        <p class="footer-heading">Resources</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Recipe directory </a></li>
          <li><a class="footer-link" href="#">Help center</a></li>
          <li><a class="footer-link" href="#">Privacy & terms</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</main>
